/*Design responsivo
 O asterísto indica todos os seletores
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .row {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #462300;
	line-height: 1;
  font-family: "Quicksand", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
  color: #750000;
}
header, nav, article, footer, section {
	display: block;
}
header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a02000+3,750000+100 */
	background: rgb(173, 36, 0);
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgb(173, 36, 0) 3%, rgba(117,0,0,1) 100%);
	/* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgb(173, 36, 0) 3%,rgba(117,0,0,1) 100%);
	/* Chrome10-25,Safari5.1-6 */	
	background: radial-gradient(ellipse at center, rgb(173, 36, 0) 3%,rgba(117,0,0,1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02000', endColorstr='#750000',GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
	width: 100%;
  	margin-bottom: 10%;
}
img#imgheader {
	width: 80%;
  align-content: center;
}
nav {
	width: 100%;
	margin-left: auto;
	text-align: center;
}
.navega{
	padding-right: 4%;
	padding-top: 2%;
	padding-left: 4%;
	padding-bottom: 8%;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb014+14,ffffff+56&1+2,1+2,0.99+56,0+75,0+75 */
	background: -moz-linear-gradient(top, rgba(255,176,20,1) 2%, rgba(255,176,20,1) 14%, rgba(255,255,255,0.99) 56%, rgba(255,255,255,0) 75%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,176,20,1) 2%,rgba(255,176,20,1) 14%,rgba(255,255,255,0.99) 56%,rgba(255,255,255,0) 75%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,176,20,1) 2%,rgba(255,176,20,1) 14%,rgba(255,255,255,0.99) 56%,rgba(255,255,255,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb014', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
main {
  color: white;
  width: 90%;
  margin: auto;
}
#nossahist {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.container, .item {
	width: 80%;
	max-height: 500px;
	margin: auto;
	alignment: center;
	margin-bottom: 5%;
}
/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ad2400;
	background-color: #750000;
	width: 80%;
	margin: auto;
}

h2#titulotab {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0;
}
/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ad2400;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ad2400;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ad2400;
	border-top: none;
}
footer {
	text-align: center;
	background-color: #750000;
	color: white;
	margin-top: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}